<div class="list-container" ng-controller="ViewVideosCtrl">
	<youtube-video video-id="videoPlayer" player-vars="playerVars"></youtube-video>
	<h1>User ID: {{ viewListId }}</h1>
	<div class="video-item {{ getRandomClass() }} clearfix" data-ng-repeat="vid in videos">
		<div class="gutter clearfix" ng-click="rollMovie(vid.VideoPath, $index)">
			<img ng-src="{{ vid.VideoImage }}" />
			<div class="info">
				<h3 class="video-title">{{ vid.VideoTitle }}</h3>
				<span>{{ vid.VideoAuthor }}</span>
			</div>
		</div>
	</div>
</div>