<!DOCTYPE html>

<html ng-app="myKidsTube">
<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<title>myKidsTube</title>
</head>
<body>
	<nav id="nav" ng-controller="NavCtrl">
		<a href="#/home" id="back" class="button">back</a>
		<span id="logo"></span>
		<span class="dropdown">
			<a href="#" id="settings" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-3x"></i></a>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" ng-click="logOut()">Log Out</a></li>
				<li>Test Link 2</li>
				<li>Test Link 3</li>
			</ul>
		</span>
	</nav>
	<div ui-view></div>
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/libs/angular-ui-router.min.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script type="text/javascript" src="js/libs/ng-cordova.min.js"></script>
	<script type="text/javascript" src="js/libs/angular-youtube-embed.min.js"></script>
	<script type="text/javascript" src="js/libs/ngStorage.min.js"></script>
	<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/home/home.js"></script>
	<script type="text/javascript" src="app/nav/nav.js"></script>
	<script type="text/javascript" src="app/login/LoginController.js"></script>
	<script type="text/javascript" src="app/search/SearchController.js"></script>
	<script type="text/javascript" src="app/search/SearchService.js"></script>
	<script type="text/javascript" src="app/viewvideos/ViewVideosController.js"></script>
	<script type="text/javascript" src="app/common/ListViewService.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<!--<script type="text/javascript" src="js/index.js"></script>-->
	<!--<script type="text/javascript">
		app.initialize();
	</script>-->

</body>
</html>
