@mixin border-radius($val) {
	-webkit-border-radius: $val;
	border-radius: $val;
}

@mixin box-shadow($height, $color) {
	-webkit-box-shadow: 0 $height 0 0 $color;
	box-shadow: 0 $height 0 0 $color;
}

@mixin box-box($val) {
	-moz-transform: rotate($val);
	-webkit-transform: rotate($val);
	-o-transform: rotate($val);
	-ms-transform: rotate($val);
	transform: rotate($val);
}