<div class="list-container" ng-controller="HomeCtrl">
	<div class="list-card" data-ng-repeat="list in lists">
		<div  ng-click="ChooseList( list.ListID )">
			<h3 class="list-title">{{ list.ListName }}</h3>
			<img class="img-responsive img-rounded list-card-img" ng-src="{{ list.VideoImage }}" />
			<span class="list-count">8 Videos</span>
		</div>
	</div>
</div>