// Imports
@import "modules/_helpers";

// Colors
$pBlue: #2a98b0;			// Primary blue
$pBlueShadow: #217688;		// Primary blue shadow
$sBlue: #33b8d5;			// Secondary blue
$sBlueShadow: #2a98b0;		// Secondary blue shadow
$pButton: #ffe44d;			// Primary button color (yellow-eque)
$bGray: #f5f5f5;			// Box Gray

@font-face {
    font-family: 'c-bold';
    src: url('../assets/fonts/comfortaa-bold-webfont.eot');
    src: url('../assets/fonts/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/comfortaa-bold-webfont.woff') format('woff'),
         url('../assets/fonts/comfortaa-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/comfortaa-bold-webfont.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'c-light';
    src: url('../assets/fonts/comfortaa-light-webfont.eot');
    src: url('../assets/fonts/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/comfortaa-light-webfont.woff') format('woff'),
         url('../assets/fonts/comfortaa-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'c-regular';
    src: url('../assets/fonts/comfortaa-regular-webfont.eot');
    src: url('../assets/fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('../assets/fonts/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: c-regular;
}

a {
	text-decoration: none;
}

#login,
#new-user {
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#nav {
	height: 60px;
	width: 100%;
	position: fixed;
	background: $pBlue url('../img/logo-high.png')center center no-repeat;
	background-size: 154px 37px;
	-webkit-box-shadow: 0 8px 0 0 $pBlueShadow;
	box-shadow: 0 8px 0 0 $pBlueShadow;
	margin-bottom: 8px;
	z-index: 2;
}

#settings {
	display: block;
	height: 60px;
	width: 60px;
	color: white;
	text-align: center;
	text-shadow: 0 2px 1px #646464;

	i {
		line-height: 60px;
	}
}

.dropdown {
	float: right;
	display: block;
	position: relative;

	&.open {
		a {
			background: darken($pBlue, 5%);
		}
	}

	.dropdown-menu {
		margin-right: 10px;
		margin-top: 12px;
	}
}

.button {
	display: inline-block;
	background: $pButton;
	color: $pBlueShadow;
	font-family: c-bold;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 12px;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	margin: 8px 0 0 15px;
	-webkit-box-shadow: 0 2px 1px 0 #646464;
	box-shadow: 0 2px 1px 0 #646464;
}

.list-container {
	padding-top: 100px;
}

.list-card {
	background: $pBlue;
	margin: 0 auto 25px auto;
	border-radius: 8px;
	text-align: center;
	height: 280px;
	width: 280px;
	-webkit-box-shadow: 0 2px 1px 0 $pBlueShadow;
	box-shadow: 0 2px 1px 0 $pBlueShadow;

	.list-title {
		background: white;
		display: inline-block;
		padding: 4px 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0 2px 1px 0 #646464;
		box-shadow: 0 2px 1px 0 #646464;
		-moz-transform: rotate(2deg);
		-webkit-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	.list-card-img {
		width: 85%;
		margin: 20px auto;
		-webkit-box-shadow: 0 2px 1px 0 #646464;
		box-shadow: 0 2px 1px 0 #646464;
		-moz-transform: rotate(-2deg);
		-webkit-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}

	.list-count {
		font-size: 18px;
		color: white;
		text-shadow: 1px 1px 2px #595959;
	}
}

// Video lists
.video-item {
	width: 50%;
	padding: 10px;
	float: left;

	&.tilt-1 {
		
		img {
			@include box-box(1deg);
		}
	}

	&.tilt-2 {

		img {
			@include box-box(-0.5deg);
		}
	}

	&.tilt-3 {

		img {
			@include box-box(1deg);
		}
	}

	.gutter {
		padding: 10px;
		@include border-radius(6px);
		border: 1px solid darken($bGray, 5%);
		background: $bGray;
		@include box-shadow(4px, darken($bGray, 10%));

		&:hover {
			cursor: pointer;
		}
	}

	img {
		float: left;
		width: 25%;
		@include border-radius(5px);
		-webkit-box-shadow: 0 2px 1px 0 #646464;
		box-shadow: 0 2px 1px 0 #646464;
	}

	.info {
		float: left;
		width: 75%;
		padding-left: 10px;

		h3 {
			margin-top: 0;
		}
	}
}