<div ng-controller="LoginCtrl" class="list-container">
	<div id="login" class="panel panel-default ng-hide" ng-hide="isNewUser">
		<div class="panel-heading">Log into your myKidsTube account</div>
		<div class="panel-body">
			<form name="loginForm" role="form">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-fw fa-user"></i></span>
						<input id="inputUsername" type="text" class="form-control" placeholder="youremail@example.com" ng-model="fields.UserEmail">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-fw fa-key"></i></span>
						<input id="inputPassword" type="password" class="form-control" placeholcer="Password" ng-model="fields.UserPass">
					</div>
				</div>
				<div class="form-group">
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Log In" ng-click="signIn(fields)">
					</div>
					<a href="#" ng-click="startNewUser()">Click here to start a new account!</a>
				</div>
			</form>
		</div>
	</div>
	<div id="new-user" class="panel panel-default ng-show" ng-show="isNewUser">
		<div class="panel-heading">Create your new myKidsTube account</div>
		<div class="panel-body">
			<form name="newUserForm" role="form" novalidate>
				<div class="form-group" ng-class="{ 'has-success': newUserForm.newUserEmail.$valid, 'has-error':newUserForm.newUserEmail.$invalid }">
					<label class="control-label" for="newUserEmail">Email address</label>
					<input type="email" class="form-control" name="newUserEmail" ng-model="newUser.UserEmail" required>
					<span class="help-block">Required</span>
				</div>
				<div class="form-group" ng-class="{ 'has-success': newUserForm.newUserPassword1.$valid, 'has-error': newUserForm.newUserPassword1.$invalid }">
					<label class="control-label" for="newUserPassword1">Enter a password</label>
					<input type="password" class="form-control" name="newUserPassword1" ng-model="newUser.UserPass" required>
					<span class="help-block">Required</span>
				</div>
				<div class="form-group" ng-class="{ 'has-success': passwordMatch, 'has-error': !passwordMatch }">
					<label class="control-label" for="newUserPassword2">Confirm the password</label>
					<input type="password" class="form-control" name="newUserPassword2" required>
					<span class="help-block">Required</span>
				</div>
				<div class="form-group">
					<label class="control-label" for="nickname">Nickname</label>
					<input type="password" class="form-control" name="nickname">
					<span class="help-block">Optional: For sharing lits (can set at a later time)</span>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" value="Register" ng-click="newUser(newUser)">
					<button class="btn btn-default" ng-click="startNewUser()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>