<div ng-controller="SearchCtrl" class="container-fluid">
	<form name="searchForm" class="form-inline">
		<input id="search" type="text" data-ng-model="searchData" class="form-control"></input>
		<button id="search-btn" ng-click="submit(searchForm)" class="btn btn-default">Search</button>
	</form>
	<form name="testListAdd" class="form-inline">
		<input data-ng-model="fields.userid" value="1" />
		<input data-ng-model="fields.name" value="Testing IN Angular" />
		<input data-ng-model="fields.author" value="dizko" />
		<input data-ng-model="fields.date" value="12-25-2015" />
		<button id="search-btn" ng-click="sendList(testListAdd)" class="btn btn-default">List Test</button>
	</form>
	<div data-ng-repeat="video in videoList">
		<h3 ng-click="playVideo(video.path)">{{ video.title }}</h3>
		<h5>{{ video.channel }}</h5>
		<span>{{ video.path }}</span><br>
		<img class="img-responsive img-rounded" ng-src="{{video.imagePath}}">
		<button class="btn btn-default" ng-click="videos(video)">Add Video</button>
	</div>
</div>